@font-face {
    font-family: 'PrintChar21';
    src: url('/fonts/PrintChar21.woff2') format('woff2'),
         url('/fonts/PrintChar21.woff') format('woff'),
         url('/fonts/PrintChar21.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PRNumber3';
    src: url('/fonts/PRNumber3.woff2') format('woff2'),
         url('/fonts/PRNumber3.woff') format('woff'),
         url('/fonts/PRNumber3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: #2cd03a;
    font-size: 1.0em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ascii-canvas {
    background-color: black;
    position:absolute;
    padding-left: 16px;
    padding-right: 16px;
}
